Source: bbb-plugin-reaction-stack
Section: web
Priority: extra
Maintainer: João Victor <joaov@imdt.com.br>
Build-Depends: debhelper (>= 13), nodejs (>= 22)
Standards-Version: 4.1.4
Homepage: https://github.com/bigbluebutton/bbb-plugin-reaction-stack

Package: bbb-plugin-reaction-stack
Architecture: all
Depends: ${misc:Depends}, nodejs
Description: Renders users reactions in stack-like list below the navbar.
